﻿{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'Landing/Landing.css' %}" />
    <title>Fitness Home Page</title>

</head>
<body>

    <div class="HeaderDiv">
        <h1>StriveOn</h1>
        <h2>Login</h2>
    </div>

    <div class="LinkBar">
        <p>Links to other pages:</p>
        <p><a href="{% url 'Landing:how_it_works' %}">How It Works</a></p>
        <p><a href="{% url 'Landing:login_signup' %}">Login/Sign Up</a></p>
    </div>

    <div class="BodyDiv">
        <h1>Website Description and Info Before Login</h1>
        <p>Welcome to StriveOn. Get started on your fitness journey today!</p>
    </div>

</body>
</html>
