<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'Dashboard/default_dashboard.css' %}" />

    <title>Dashboard</title>
</head>

<body>

    <div class="HeaderDiv">
        <h1>StriveOn</h1>
        <h2>Dashboard Demo</h2>
    </div>

    <div class="LinkBar">
        <a href="{% url 'home' %}">Home</a> &emsp;
        <a href="{% url 'Dashboard:default_dash' %}">Dashboard</a>
    </div>


    <div class="BodyDiv">
        <h1>Dashboard Area</h1>

        <p>Put Graphs Here</p>
    
    </div>



</body>
</html>