<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Dashboard/dashboard.css' %}" />

    <meta charset="utf-8" />
    <title>Update Workout</title>
</head>
<body>
    
    <div class="HeaderDiv">
        <h1>StriveOn</h1>
        <h2>Update A Workout</h2>
    </div>

    <div class="LinkBar">
        <p><a href="{% url 'Dashboard:update_user_dash' %}">Dashboard</a></p>
    </div>

    
    <!--need forms to search for a doc, display it, then change it-->

    <div class="BodyDiv">


    </div>


</body>
</html>