<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Dashboard/dashboard.css' %}" />

    <meta charset="utf-8" />
    <title>Update Workout</title>
</head>
<body>
    
    <div class="HeaderDiv">
        <h1>StriveOn</h1>
        <h2>Update A Workout</h2>
    </div>

    <div class="LinkBar">
        <p><a href="{% url 'Dashboard:update_user_dash' %}">Dashboard</a></p>
    </div>

    
    <div class="BodyDiv" style="height: fit-content;">

        <form method="POST" action="{% url 'Dashboard:update_workout' %}">
            {% csrf_token %}
            <label for="search_by">Search By:</label>
            <select name="search_by" id="search_by">
                <option value="date">Date</option>
                <option value="distance_km">Distance</option>
                <option value="steps">Steps</option>
                <option value="calories_burned">Calories</option>
                <option value="active_minutes">Duration</option>
                <option value="sleep_hours">Sleep Duration</option>
                <option value="heart_rate_avg">Heart Rate</option>
                <option value="workout_type">Exercise</option>
                <option value="weather_conditions">Weather</option>
                <option value="location">Location</option>
                <option value="mood">Mood</option>
                <option value="_id">Document ID</option>
            </select>

            <br /><br />

            <label for="search_query">Search For:</label>
            <input type="text" name="search_query" id="search_query" />

            <p style="font-size: 12px;">*Enter date field as "month day year" (excl. quotes)*</p>

            <input type="submit" value="Submit" />
        </form>

        <h1>Results</h1>
        <h3>Found {{ docs|length }} documents</h3>
        <hr style="height: 5px; color: white; background-color: white; border-color: white;">
        
        {% for doc in docs %}
            <div style="position: relative; display: flex; flex: auto; display: grid; grid-template-columns: 4vw 6vw 30vw; grid-template-rows: 30vh; padding: 20px 10px;">
            <p><b><u>{{ forloop.counter }}.</u></b></p>
            
            <form method="post" action="{% url 'Dashboard:edit_workout' %}">
                {% csrf_token %}
                <label for="edit_delete_select">Edit/Delete:</label>
                <select name="edit_delete_select" id="edit_delete_select">
                    <option value="edit">Edit</option>
                    <option value="delete">Delete</option>
                </select>
                <br />
                <input type="hidden" name="doc_info" id="doc_info" value="{{ doc }}" />
                <input type="submit" value="Submit"/>
            </form>

                <table>
                    <tr>
                        <td>Exercise:</td>
                        <td>{{ doc.workout_type }}</td>
                    </tr>
                    <tr>
                        <td>Distance (km):</td>
                        <td>{{ doc.distance_km }}</td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>{{ doc.location }}</td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>{{ doc.date }}</td>
                    </tr>
                    <tr>
                        <td>Steps:</td>
                        <td>{{ doc.steps }}</td>
                    </tr>
                    <tr>
                        <td>Heart Rate Avg:</td>
                        <td>{{ doc.heart_rate_avg }}</td>
                    </tr>
                    <tr>
                        <td>Calories:</td>
                        <td>{{ doc.calories_burned }}</td>
                    </tr>
                    <tr>
                        <td>Duration:</td>
                        <td>{{ doc.active_minutes }}</td>
                    </tr>
                    <tr>
                        <td>Weather:</td>
                        <td>{{ doc.weather_conditions }}</td>
                    </tr>
                    <tr>
                        <td>Mood:</td>
                        <td>{{ doc.mood }}</td>
                    </tr>
                    <tr>
                        <td>Sleep:</td>
                        <td>{{ doc.sleep_hours }}</td>
                    </tr>
                </table>
            </div>
            <hr style="height: 2px; color: white; background-color: white; border-color: white;">
        {% endfor %}
    </div>

    

</body>
</html>