<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Dashboard/dashboard.css' %}" />
    <meta charset="utf-8" />
    <title>User Dashboard</title>
</head>
<body>

    <div class="HeaderDiv">
        <h1>StriveOn</h1>
    </div>

    <div class="LinkBar">
        <p><a href="{% url 'Dashboard:create_workout' %}">Create A Workout</a></p>
        <p><a href="{% url 'Dashboard:update_workout' %}">Update or Delete A Workout</a></p>
        <p><a href="{% url 'MyAccount:profile_settings' %}">My Account</a></p>
    </div>

    <div class="BodyDiv">
        <h1>{{ u_name }} Dashboard</h1>

        <div style="position: relative; width: 45%; height: 400px; display: flex; display: inline-grid; flex: auto; padding: 20px 20px;">

            <div style="display: grid; grid-template-columns: 43vw 43vw; grid-template-rows: 50vh 50vh; gap: 20px;">
                {{ fig1 | safe }}
                {{ fig2 | safe }}
                {{ fig3 | safe }}   
                {{ fig4 | safe }}

                <form method='post' action="{% url 'Dashboard:update_user_dash' %}">
                    {% csrf_token %}



                    <h2>Chart 1</h2>
                    <label for="workout_type_1">Exercise Type:</label>
                    <select name="workout_type_1" id="workout_type_1">
                        <option value="Walking">Walking</option>
                        <option value="Cycling">Cycling</option>
                        <option value="Swimming">Swimming</option>
                        <option value="Gym Workout">Gym</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Walking">Walking</option>
                        <option value="None">Not Specified</option>
                        <option value="All">All</option>
                    </select>
                    &emsp;
                    <label for="metric_1_1">Metric:</label>
                    <select name="metric_1_1" id="metric_1_1">
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    &emsp;
                    <label for="metric_1_2">Metric 2:</label>
                    <select name="metric_1_2" id="metric_1_2">
                        <option value="none">None</option>
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    <br />
                    <input type="radio" name="agg_select_1" id="date_agg" value="date_agg" checked="checked" />
                    <label for="date_agg">By Date</label>
                    <input type="radio" name="agg_select_1" id="count_agg" value="count_agg"/>
                    <label for="count_agg">By Count</label>
                    <br />

                    <h2>Chart 2</h2>
                    <label for="workout_type_2">Exercise Type:</label>
                    <select name="workout_type_2" id="workout_type_2">
                        <option value="Walking">Walking</option>
                        <option value="Cycling">Cycling</option>
                        <option value="Swimming">Swimming</option>
                        <option value="Gym Workout">Gym</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Walking">Walking</option>
                        <option value="None">Not Specified</option>
                        <option value="All">All</option>
                    </select>
                    &emsp;
                    <label for="metric_2_1">Metric:</label>
                    <select name="metric_2_1" id="metric_2_1">
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    &emsp;
                    <label for="metric_2_2">Metric 2:</label>
                    <select name="metric_2_2" id="metric_2_2">
                        <option value="none">None</option>
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    <br />
                    <input type="radio" name="agg_select_2" id="date_agg" value="date_agg" checked="checked" />
                    <label for="date_agg">By Date</label>
                    <input type="radio" name="agg_select_2" id="count_agg" value="count_agg"/>
                    <label for="count_agg">By Count</label>
                    <br />

                    <h2>Chart 3</h2>
                    <label for="workout_type_3">Exercise Type:</label>
                    <select name="workout_type_3" id="workout_type_3">
                        <option value="Walking">Walking</option>
                        <option value="Cycling">Cycling</option>
                        <option value="Swimming">Swimming</option>
                        <option value="Gym Workout">Gym</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Walking">Walking</option>
                        <option value="None">Not Specified</option>
                        <option value="All">All</option>
                    </select>
                    &emsp;
                    <label for="metric_3_1">Metric:</label>
                    <select name="metric_3_1" id="metric_3_1">
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    &emsp;
                    <label for="metric_3_2">Metric 2:</label>
                    <select name="metric_3_2" id="metric_3_2">
                        <option value="none">None</option>
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    <br />
                    <input type="radio" name="agg_select_3" id="date_agg" value="date_agg" checked="checked" />
                    <label for="date_agg">By Date</label>
                    <input type="radio" name="agg_select_3" id="count_agg" value="count_agg"/>
                    <label for="count_agg">By Count</label>
                    <br />

                    <h2>Chart 4</h2>
                    <label for="workout_type_4">Exercise Type:</label>
                    <select name="workout_type_4" id="workout_type_4">
                        <option value="Walking">Walking</option>
                        <option value="Cycling">Cycling</option>
                        <option value="Swimming">Swimming</option>
                        <option value="Gym Workout">Gym</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Walking">Walking</option>
                        <option value="None">Not Specified</option>
                        <option value="All">All</option>
                    </select>
                    &emsp;
                    <label for="metric_4_1">Metric:</label>
                    <select name="metric_4_1" id="metric_4_1">
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    &emsp;
                    <label for="metric_4_2">Metric 2:</label>
                    <select name="metric_4_2" id="metric_4_2">
                        <option value="none">None</option>
                        <option value="active_minutes">Duration</option>
                        <option value="calories_burned">Calories</option>
                        <option value="distance_km">Distance</option>
                        <option value="heart_rate_avg">Heart Rate</option>
                        <option value="location">Location</option>
                        <option value="mood">Mood</option>
                        <option value="sleep_hours">Sleep Duration</option>
                        <option value="steps">Steps</option>
                        <option value="weather_conditions">Weather</option>
                    </select>
                    <br />
                    <input type="radio" name="agg_select_4" id="date_agg" value="date_agg" checked="checked" />
                    <label for="date_agg">By Date</label>
                    <input type="radio" name="agg_select_4" id="count_agg" value="count_agg"/>
                    <label for="count_agg">By Count</label>
                    <br /><br />

                    <!--<input type="hidden" name="u_id" id="u_id" value="{{ u_id }}" />
                    <input type="hidden" name="u_name" id="u_name" value="{{ u_name }}" />-->
                    <input type="submit" value="Submit" />
                </form>
                
                <p>Notes: When a second metric is selected, it acts as 'metric 1 per metric 2'. When "Duration" specifically is selected, it is in minutes for metric one, and hours for metric two.</p>
            </div>
        </div>
    </div>
</body>
</html>
